.filterDate{
    background-color: white;
    border-radius: 5px;
    width:80%;


    .filterDate-button{
        margin: 20px;
        width: 96%;

    }

    #closeButton{
        margin-top: 0;
        padding-top: 0;


    }
    #fetchButton{
        margin-bottom: 0;
        padding-bottom: 0;

    }
   
}