.container{
  margin: 5px;

  .searchButton{
    width:100%;
    margin-bottom: 10px;
  }

  .datesAdversement{
 
    margin-right: 10px;
    margin-left: 10px;

  }
  .datesAdversement p{
    margin:0;
    padding:0;
    #title{
      font-weight: bold;
      color:#B76FB0;

    }
  }
  
}

