

body {
  margin: 0;
  display: flex;
  font-family: "Varela Round";
}

.verticalElements{

  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content:center;
}


.horizontalElements{

  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content:center;
}