

body {
 
  font-family: "Varela Round";
  margin:0;
  padding:0;
}

.row {
  display: flex;
  flex-direction: row;
}

.vertical{
  display:flex;
  flex-direction: column;
}

.distributed{

    justify-content: space-between;
    align-items: center;

}

.central{

    justify-content: center;
    align-items: center;

}



.verticalElements{

  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content:center;
}


.horizontalElements{

  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content:center;
}

.horizontalDistributed{

}

.icon-header{
  width: 80px;
  height: auto;
  padding:1px;

}